body {
    font-family: verdana, arial, sans-serif !important;
}

#playerAndPlaylistContainer {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    margin: 0;
}

#player {
    width: 100%;
}

#playerContainer {
    height: 58px;
    background: lightgray;
}

#playerContainer button {
    float: right;
}

#playlistContainer {
    /* Firefox */
    height: -moz-calc(100% - 58px);
    /* WebKit */
    height: -webkit-calc(100% - 58px);
    /* Opera */
    height: -o-calc(100% - 58px);
    /* Standard */
    height: calc(100% - 58px);
}

#playlist {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#songListContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    margin: 0;
}

#songListContainer ul {
    list-style-type: none;
}

#songListContainer > ul {
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
    height: 100%;
    overflow: auto;
}

#songListContainer li i {
    background: url('folder.png');
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: bottom;
}

#songListContainer li.song i {
	background: url('song.png');
}
